.presentation{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.presentation .bienv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-image: url("/images/img_pizza_deb_fonce.jpg");
    background-size: cover;
    font-size: 60px;
    /*
    font-family: 'Open Sans';
    */
    padding: 75px 40px 50px 40px;
}

.bienv p{
    font-size: 0.7em;
}

.bienv p:first-child {
    color: rgb(243, 243, 7);
}

#livraison_intro{
    color: greenyellow;
    font-weight: bold;
}

#lieux{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
    font-size: 0.55em;
    flex-wrap: wrap;
}

#lieux p{
    font-size: 60px;
    max-width: 610px;
}


#pouletFrites{
    font-size: 30px;
    color: yellow;
    font-weight: bold;
    text-align: center;
    padding: 40px 20px 0px 20px;
}

.ele{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.pf{
    padding-top: 20px;
}

.frites{
    width: 150px;
    height: 150px;
}

#wings{
    width: 150px;
    height: 150px;
    background-color: white;
}

#aiguiette{
    width: 150px;
    height: 150px;
}


.tenders{
    background-image: url("/images/tendeurs.png");
    background-size: cover;
}

@media (max-width: 800px) {
    .presentation .bienv{
        font-size: 50px;
        padding: 20px 20px 40px 20px;
        font-size: 1.5em;
    }



    #lieux{
        gap: 5px;
    }

    #lieux p{
        font-size: 40px;
        max-width: 600px;
        padding-top: 20px;
    }

    #artisanale{
        font-size: 1.5em;
    }
}