#commander{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 2% 4%;
}

.infoCommande{
    background-color: white;
    border: solid 3px #b6ae55;
    border-radius: 20px;;
    color: rgba(35,168,52,255);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.infoCommande p {
    color: red;
}

@media (max-width: 800px)