*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgba(35,168,52,255);
    font-family: sans-serif;
    color: white;
}

@font-face {
    font-family: 'Open Sans';
    src: url(/static/font/Caramel-Regular.ttf)
}

/*Menu*/
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 40px;
}

.menu .logo{
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: #b6ae55;
    font-size: 20px;
    -webkit-text-stroke: 0.10px white;
}

.menu .logo img{
    width: auto;
    height: 22px;
}

.menu .bouton{
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-size: 20px;
}



/*Presentation*/
.presentation{

}

.presentation img{
    position: relative;
}

.presentation .bienv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: transparent;
    position: absolute;
    font-size: 120px;
    font-family: 'Open Sans';
    z-index: 1;
    top: 35%;
    width: 100%;
}




/*Pizza*/
.element{
    padding: 2% 4%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.element .titre{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.element .titre h1{
    font-size: 50px;
}

.element .titre h2{
    font-size: 25px;
}

.surbloc{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(550px,1fr));
    row-gap: 25px;
    column-gap: 25px;
}

.content{
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border: solid 3px #b6ae55;
    border-radius: 20px;;
}

.content .gauche{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.content #titre{
    color: rgba(35,168,52,255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
}

.content #ingre{
    color: red;
    font-size: 20px;
    display: flex;
}

#prix{
    color: red;
    width: 65px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#prix .taille{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

#prix .prix_taille{
    display: flex;
    justify-content: space-around;
}






/*La cuisine d'Orée*/
.case{
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
    border: solid 3px #b6ae55;
    border-radius: 20px;
}

.case img{
    width: 20%;
    height: auto;
    padding-right: 20px;
}

.droit{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.case .desc{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 20px;
}

.case .desc .titre{
    color: rgba(35,168,52,255);
    font-weight: bold;
}

.case .desc .ingre{
    color: red;
}

.case .prix{
    color: rgba(35,168,52,255);
    font-size: 20px;
    font-weight: bold;
}

.prix{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.espace{
    display: flex;
    flex-direction: column;
    gap: 5px;
}




img{
    width: 100%;
    height: 100%;
}